parameters:
  level: 10
  paths:
    - src
    - tests
    - bin/refactorlah-php
  excludePaths:
    analyse:
      - tests/fixtures
  tmpDir: var/phpstan

includes:
  - vendor/shipmonk/dead-code-detector/rules.neon
